<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<title>Sistema Vendas</title>
</head>

<body>
	<script src="metodos.js" type="text/javascript"></script>

	<h1 id="lblh1">Clientes</h1>

	<input onclick="ativarCampos()" checked="true" type="radio" id="rbBuscarId" name="rbOpcoes"><label
		id="lblBuscarId">BUSCAR POR ID</label>
	<br>
	<input onclick="ativarCampos()" type="radio" id="rbBuscarNome" name="rbOpcoes"><label id="lblBuscarNome">BUSCAR POR
		NOME</label>
	<br>
	<input onclick="ativarCampos()" type="radio" id="rbCadastrar" name="rbOpcoes"><label
		id="lblCadastrar">CADASTRAR</label>
	<br>
	<input disabled="true" onclick="ativarCampos()" type="radio" id="rbAlterar" name="rbOpcoes"><label
		id="lblAlterar">ALTERAR</label>
	<br>
	<input onclick="ativarCampos()" type="radio" id="rbDeletar" name="rbOpcoes"><label id="lblDeletar">DELETAR</label>

	<div class="form-floating mb-3">
		<input type="number" class="form-control" id="floatingInput" placeholder="Id">
		<label for="floatingInput">Id</label>
	</div>

	<div class="form-floating">
		<input disabled="true" type="text" class="form-control" id="floatingNome" placeholder="Nome">
		<label for="floatingNome">Nome</label>
	</div>

	<br>

	<div class="form-floating">
		<input disabled="true" type="text" class="form-control" id="floatingCpf" placeholder="CPF">
		<label for="floatingCpf">CPF</label>
	</div>

	<br>

	<div class="form-floating">
		<input disabled="true" type="text" class="form-control" id="floatingImage">
		<label for="floatingImage" id="lblImage">Link da imagem</label>
	</div>

	<br>

	<div class="form-floating">
		<a id="visualizarFoto" class="link-offset-2 link-underline link-underline-opacity-0">VISUALIZAR FOTO PERFIL</a>
	</div>

	<br>

	<button class="btn btn-success" id="btnExecutarAcao" onclick="executarAcao()" type="button">ENVIAR ACAO</button>

	<br>

</body>
<script>
	function ativarCampos() {

		document.getElementById("floatingInput").disabled = true;

		document.getElementById("floatingNome").disabled = true;

		document.getElementById("floatingCpf").disabled = true;

		document.getElementById("floatingImage").disabled = true;

		document.getElementById("rbAlterar").disabled = true;

		if (document.getElementById("rbBuscarId").checked) {
			limparCampos();
			document.getElementById("floatingInput").disabled = false;
		} else if (document.getElementById("rbBuscarNome").checked) {
			limparCampos();
			document.getElementById("floatingNome").disabled = false;
		} else if (document.getElementById("rbCadastrar").checked) {
			limparCampos();
			document.getElementById("floatingNome").disabled = false;
			document.getElementById("floatingImage").disabled = false;
			document.getElementById("floatingCpf").disabled = false;
		}
		else if (document.getElementById("rbAlterar").checked) {
			document.getElementById("rbAlterar").disabled = false;
			document.getElementById("floatingInput").disabled = true;
			document.getElementById("floatingNome").disabled = false;
			document.getElementById("floatingImage").disabled = false;
			document.getElementById("floatingCpf").disabled = false;
		}
		else if (document.getElementById("rbDeletar").checked) {
			document.getElementById("floatingInput").disabled = false;
		}
	}

	function executarAcao() {
		document.getElementById("visualizarFoto").style.display = "none";

		if (document.getElementById("rbBuscarId").checked) {
			buscarPorId();
		} else if (document.getElementById("rbBuscarNome").checked) {
			buscarPorNome();
		} else if (document.getElementById("rbCadastrar").checked) {
			cadastrarCliente();
		} else if (document.getElementById("rbAlterar").checked) {
			alterarCliente();
		} else if (document.getElementById("rbDeletar").checked) {
			deletarCliente();
		}
	}

	function buscarPorId() {
		fetch('api/clientes/' + document.getElementById("floatingInput").value)
			.then((response) => {

				if (response.status != 200) {
					limparCampos();
					alert("Cliente nao localizado")
				} else {
					document.getElementById("rbAlterar").disabled = false;
					return response.json();
				}
			})
			.then((data) => {
				document.getElementById("floatingNome").value = data.nome;
				document.getElementById("floatingImage").value = data.imagem;
				document.getElementById("floatingCpf").value = data.cpf;

				if (data.imagem != null) {
					document.getElementById("visualizarFoto").style.display = "inline";
					document.getElementById("visualizarFoto").href = data.imagem;
					document.getElementById("visualizarFoto").target = "_blank";
				}
			}
			);
	}

	function buscarPorNome() {
		fetch('api/clientes/nome/' + document.getElementById("floatingNome").value)
			.then((response) => {
				if (response.status == 400) {
					limparCampos();
					alert("Mais de um cliente possui esse nome, favor buscar pelo id");
				}
				else if (response.status != 200) {
					limparCampos();
					alert("Cliente nao localizado")
				} else {
					document.getElementById("rbAlterar").disabled = false;
					return response.json();
				}
			})
			.then((data) => {
				document.getElementById("floatingInput").value = data.id;
				buscarPorId();
			});
	}

	function cadastrarCliente() {
		const url = "api/clientes";
		const requestOptions = {
			method: "POST",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({
				nome: document.getElementById("floatingNome").value,
				cpf: document.getElementById("floatingCpf").value,
				imagem: document.getElementById("floatingImage").value
			})
		};
		
		fetch(url, requestOptions)
			.then((response) => {
				return response.json();
			}
			)
			.then((data) => {
				alert("Cliente cadastrado com sucesso")

				document.getElementById("floatingInput").value = data.id;
				document.getElementById("floatingNome").value = data.nome;
				document.getElementById("floatingCpf").value = data.cpf;
				document.getElementById("floatingImage").value = data.imagem;
			});

	}
	function alterarCliente() {
		if (document.getElementById("floatingInput").value === "") {
			alert("Favor digitar o id do cliente que sera alterado");
			return;
		}

		const url = "api/clientes/" + document.getElementById("floatingInput").value;
		const requestOptions = {
			method: "PUT",
			headers: {
				"Content-Type": "application/json"
			},
			body: JSON.stringify({
				nome: document.getElementById("floatingNome").value,
				cpf: document.getElementById("floatingCpf").value,
				imagem: document.getElementById("floatingImage").value
			})
		};

		fetch(url, requestOptions)
			.then((response) => {
				return response.json();
			}
			)
			.then((data) => {
				alert("Cliente alterado com sucesso");

				document.getElementById("floatingInput").value = data.id;
				buscarPorId();
			});

	}

	function deletarCliente() {
		if (document.getElementById("floatingInput").value === "") {
			alert("Favor digitar o id do cliente que sera alterado");
			return;
		}

		if (confirm("Tem certeza de que deseja excluir este cliente ?")) {
			const url = "api/clientes/" + document.getElementById("floatingInput").value;
			const requestOptions = {
				method: "DELETE"
			};

			fetch(url, requestOptions)

			alert("Cliente excluido com sucesso");

			limparCampos();
		}

	}

</script>

</html>